.login{
	background-color: #2F80ED;
	width: 400px;
    height: 900px;
    position:absolute;
}
.paragraph{
	color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-top: 64px;
    margin-right: 94px;
    margin-bottom: 800px;
    margin-left: 98px;
}


.click1{
	position: absolute;
    width: 300px;
    height: 60px;
    left: 44px;
    top: 249px;
    background-color:#333333;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;

}
.click2{
	position: absolute;
    width: 300px;
    height: 60px;
    left: 44px;
    top: 339px;
    background-color:#333333;
    color: #FFFFFF;;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
h1{
	font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    color: #4F4F4F;
    position: absolute;
    width: 561px;
    height: 108px;
    left: 897px;
    top: 30px;
}
.image{
	position: absolute;
    width: 951px;
    height: 607px;
    left: 422px;
    top: 167px;
}
h2{
	position: absolute;
    width: 561px;
    height: 108px;
    left: 475px;
    top: 734px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    color: #4F4F4F;

}